if status is-interactive
    # Commands to run in interactive sessions can go here
end

set -xg SUDO_EDITOR nvim
set -xg VISUAL nvim

alias v=nvim
alias lz=lazygit
alias fd=fdfind
alias cat={{ .batBinary }}
alias kc=kubectl
alias lzd=lazydocker

{{ if eq .chezmoi.os "darwin" }}
set -xg DOCKER_HOST "unix://$HOME/.colima/default/docker.sock"
set -xg TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE /var/run/docker.sock
# aws autocomplete https://github.com/aws/aws-cli/issues/1079
complete --command aws --no-files --arguments '(begin; set --local --export COMP_SHELL fish; set --local --export COMP_LINE (commandline); aws_completer | sed \'s/ $//\'; end)'
{{ end }}

fish_add_path ~/.bin

## Config fzf fish plugin https://github.com/PatrickF1/fzf.fish
# disable timestamp column in search history
set fzf_history_opts --with-nth=4..

# https://github.com/jdx/mise
mise activate fish | source
mise hook-env | source # needed to update path to access rtx plugins in this script
# https://github.com/ajeetdsouza/zoxide
zoxide init fish | source
# https://github.com/twpayne/chezmoi
chezmoi completion fish | source

